.App {
  text-align: center;
  font-family: Calibre, Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  margin: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}

br {
  height: 10px;
}

.landingWrapper {
  padding: 10px;
}

.light-grey-back {
  background-color: #abb8c3;
}

#headerWrapper {
  padding: 30px;
}

.pastel-red {
  background-color: #f9dbc1;
}

.pastel-green {
  background-color: #f8fecf;
}

.pastel-blue {
  background-color: #eeeffe;
}

#headerLogo {
  width: 400px;
}

#hours-list-wrapper {
  display: inline-block;
  width: 100%;

  
}

#days {
  text-align: right;
  float: left;
}

#hours {
  text-align: left;
  float: right;
}

.hours-child {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 46%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 520px) {
  #hours-child {
    width: 40%;
  }

}

@media only screen and (max-width: 430px) {
  #headerLogo {
    width: 90%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.email-input-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  height: 300px; /*to center vertically*/

}

input {
  border: 2px solid black;
  height: 20px;
  min-width: 300px;
  box-sizing: border-box;
}

label {
  display:block;
  text-align: center;
  margin-bottom: 10px;
}

/* fun button !!!*/
button {
  --c:  #229091; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}
  /*I LOVE THIS YELLOW */
  /*background: #F2DCA2;*/

button {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
}
