.App {
  text-align: center;
  font-family: Calibre, Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  margin: 10px;
  font-size: 30px;
}

br {
  height: 10px;
}

.landingWrapper {
  padding: 10px;
}

.light-grey-back {
  background-color: #abb8c3;
}

#headerWrapper {
  padding: 10px;
}

.pastel-red {
  background-color: #f9dbc1;
}

.pastel-green {
  background-color: #f8fecf;
}

.pastel-blue {
  background-color: #eeeffe;
}

#headerLogo {
  width: 400px;
}

#hours-list-wrapper {
  width: 100%;
  border: 2px solid black;
  position: relative;
}

#days {
  text-align: right;
}

#hours {
  text-align: left;
}

#hours-list-wrapper p {

  margin: 8px 0px;

  }


.hours-child {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  margin:0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 520px) {

}

@media only screen and (max-width: 430px) {
  #headerLogo {
    width: 90%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#email-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  margin-top: 15px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#email-input {
  flex-grow: 1;
  border: 2px solid black;
  height: 25px;
  box-sizing: border-box;
  margin-top: 1px;
  margin-right: 10px;
  display: inline-block;
}

#email-input:focus-visible {
  outline: 2px solid #F2DCA2;
}

#email-label {
  display:block;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;
  justify-self: flex-start;
}

#subscribe-header {
  margin-bottom: 0;
}

#subscribe {
  display: inline-block;
  align-self: flex-end;
  justify-self: flex-end;
}

#footerWrapper p {
  margin: 5px;
}

/* fun button !!!*/
button {
  --c:  #19a3bf; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  /*box-shadow: 0 0 9e9q inset #0009; */
  background-color: #F2DCA2;/*var(--c);*/
  color: #fff;
  box-shadow: -3px -5px;
  /*box-shadow: 3px 5px;*/
}
  /*I LOVE THIS YELLOW */
  /*background: #F2DCA2;*/

button {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: 2px solid black;
  box-shadow: 3px 5px;
}
