.App {
  text-align: center;
  font-family: Calibre, Arial;
  height: 100%;
}

#welcome {
  position: relative;
  bottom: 5px;
}


h1 {
  margin: 10px;
  font-size: 40px;
}

 h2 {
  font-size: 30px;
 
}

br {
  height: 10px;
}

.landingWrapper {
  padding: 30px;
  background-color: rgb(245, 245, 245);
  height: 100%;
  border-top: 1px solid rgb(240, 240, 240);
  box-shadow: -5px 0px 10px;
}

.light-grey-back {
  background-color: #abb8c3;
}

#headerWrapper {
  padding: 40px; /* for normal logo */
  /*height: 340px; /* with circle logo*/

}

.pastel-red {
  background-color: #f9dbc1;
}

.pastel-green {
  background-color: #f8fecf;
}

.pastel-blue {
  background-color: #eeeffe;
}

#headerLogo {
  width: 375px;
}

#hours-list-wrapper {
  width: 100%;
  /*border: 2px solid black;*/
  position: relative;
}

#days {
  text-align: right;
}

#hours {
  text-align: left;
}

#hours-list-wrapper p {

  margin: 8px 0px;

  }


.hours-child {
  display: inline-block;
  font-size: 24px;
  font-weight: 550;
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
  margin:0;
  line-height: 35px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#email-input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.input-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#email-input {
  flex-grow: 1;
  border: 2px solid black;
  height: 25px;
  box-sizing: border-box;
  margin-top: 1px;
  margin-right: 20px;
  display: inline-block;
  width: 400px;
  border-radius: 0px !important;

}

#email-input:focus-visible {
  border: 2px solid black !important;
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}

#email-input:focus {
  border: 2px solid black !important;
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}



#email-label {
  display:block;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;
  justify-self: flex-start;
}

#subscribe-header {
  margin-bottom: 0;
}

#subscribe {
  display: inline-block;
  align-self: flex-end;
  justify-self: flex-end;
}

#subscribe-section {
  margin: 20px;
  margin-bottom: 60px;
}

#footer-div {
  width: 100%;
  position: relative;
  font-size: 24px;
  font-weight: 700;
}

#addressFooter {
  bottom: 10px;
  left: 40px;
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
}

#emailFooter {
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  
}

#footer-logo {
  width: 180px;

}

#footerWrapper p {
  margin: 5px;
}


#social {
  padding: 20px;
  margin-bottom: 20px;
}

#insta {
  width: 50px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

#insta:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
  
}




  button {
    --b: 3px;   /* border thickness */
    --s: 0em; /* size of the corner */
    --c: black;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
  }
  button:hover,
  button:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
  }
  button:active {
    background: var(--c);
    color: #fff;
  }
  
  /*body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    place-content: center;
    background: #DAEDFB;
  }*/
  button {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin: .1em;
    margin-top: 15px;
  }

  #confirmSub {
    text-align: left;
    animation: Slide_Up 1.2s ease;
  }

  @keyframes Slide_Up {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*button {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: 2px solid black;
  box-shadow: 3px 5px;
}*/

#social p {
  font-size: 24px;
}

.photoWrapper {
  position: relative;
  height: 400px;
  margin: 10px;
}

.instaImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 350px;
  object-fit: cover;
  margin: 10px;
}

@media(max-width:  575px) {
  #email-input {
    width: 300px;
  }

}

@media(max-width:  485px) {
  #headerLogo {
    width: 100%;
  }


#email-input {
  width: 220px;
}

  

}

@media(max-width: 395px) {

  #email-input {
    width: 180px;
    margin-right: 10px;
  }
  



  #social p {
    font-size: 18px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

.landingWrapper {
  padding: 10px;

}

.hours-child {
  padding: 10px;
}
  

}

@media(max-width: 395px) {

  #email-input {
    width: 150px;
    margin-right: 10px;
  }
}



/*bounce animation*/
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

input {
  border-radius: 0 !important;
}

input[type="search"] {
  -webkit-appearance: none;
}
